body > section{
    margin:30px;
}
.row{
    margin-left:0px;
    margin-right:0px;
    width:auto;
    height: auto;
}
article
{
    background:#e6f6ff;
    border-radius:1em;
    padding:10px;
}

table,tr,td {
    border: 1px solid black;
    margin: 0;
}